*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
.main{
    width: 100%;
    
}
.container{
    height: 100vh;
    width: 100%;
    background:linear-gradient(135deg,#557585,#32303b);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    width: 500px;
    border-radius: 20px;
    background-color: lightblue;
}
.nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 20px;
}
div input{
    padding: 15px;
    margin: 13px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    font-size: 1.1vw;
    font-weight: 100;
    cursor: pointer;
}
.nav h2{
    font-size: 3.5vw;
    font-weight: 100;
}
div .button{
    cursor: pointer;
}
.button:hover{
    background-color: lightgreen;
    color: #000000;
}
.footer{
    padding: 10px ;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 71px;
}
a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
    background-color: rgb(237, 244, 244);
    border-radius: 10px;

}
a:hover{
    background-color: rgb(76, 198, 235);
}